<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Sharing Napoli</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px; font-family: sans-serif;">
        <h1>Benvenuto su Bike Sharing Napoli! 🚲</h1>
        <p>Se leggi questo messaggio, il tuo server Python Flask funziona alla grande!</p>
        
        <h3 style="margin-top: 30px; padding: 15px; background-color: #f0f0f0; border-radius: 8px; display: inline-block;">
            Stato DB: {{ status }}
        </h3>
        
        <p style="margin-top: 50px;"><i>Progetto di: Mikele e Christian</i></p>
    </div>
</body>
</html>